<section class="section" id="education">

  <h1 class="title">Education</h1>

  {% assign places = (site.data.education | sort: "start_date") | reverse %}

  {% for place in places %}
    {% capture desc %}
      {{ place.description | markdownify }}
    {% endcapture %}
    {% include media.html title=place.name
                          subtitle=place.place_long
                          start_date=place.start_date
                          end_date=place.end_date
                          content=desc
                          moreurl=place.url
    %}
  {% endfor %}

</section>
