<article class="media">
  <div class="media-left has-text-centered date-column">
    {% if include.date %}
      <time datetime="{{ include.date }}">{{ include.date | date: "%d %B %Y" }}</time>
    {% else %}
      {% if include.end_date %}
        <time datetime="{{ include.end_date }}">{{ include.end_date | date: "%B %Y" }}</time>
      {% else %}
        present
      {% endif %}
      <br>
      <span class="icon has-text-info is-large">
        <i class="fa fa-long-arrow-up"></i>
      </span>
      <br>
      <time datetime="{{ include.start_date }}">{{ include.start_date | date: "%B %Y" }}</time>
    {% endif %}
  </div>
  <div class="media-content">
    <div class="content">
      <h4 class="title is-4 has-text-info" id="{{ include.title | url_encode }}">
        {% if include.moreurl %}
        <a class="has-text-info" href="{{ include.moreurl }}" target="_blank">{{ include.title }}</a>
        {% else %}
        {{ include.title }}
        {% endif %}
      </h4>
      {% if include.subtitle %}<h6 class="subtitle is-6">{{ include.subtitle }}</h6>{% endif %}
      {% if include.content %} {{ include.content }}{% endif %}
    </div>
  </div>
</article>
