@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

$family-sans-serif: 'Montserrat', sans-serif;
$primary: #188eac !default;
$link: #20ff00 !default;; 

$tabs-link-active-color: $primary;
$tabs-link-active-border-bottom-color: $primary;

@import "../node_modules/bulma/bulma.sass";

$hero-darken: $dark !default;
